html, body{
    height: 100%;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0;

    background-image: url("Images/bgimage.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.stage-wrap{
    display: flex;
    justify-content: center;
    padding-top: min(100px, 11.6vw);
}
.stage{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: min(40px, 4.6vw);
    margin-inline: auto;
    align-items: center;

    border: 5px solid;
}
.side{
    display: flex;
    flex-direction: column;
    /* gap: min(30px, 3.5vw); */
    gap: 100px;

    border: 5px solid;
}
#paper_scroll{
    width: min(500px, 58.3vw);
    transform: rotateY(180deg);
    filter: brightness(75%) contrast(1.1);
}
.side img{
    width: min(130px, 15.1vw);
    height: min(240px, 28vw);
    border-radius: 12px;
}
.scroll{
    position: relative;

    border: 5px solid;
}
.scroll_text{
    position: absolute;
    top: 10%;
    left: 23%;
    right: 23%;
    font-size: min(12px, 1.4vw);
}
@media(max-width: 768px){
    body{
        background-image: url("Images/bgimage_mobile.jpg");
    }
}
