html, body{
    height: 100%;
    overflow-y: hidden;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0;

    background-image: url("Images/bgimage.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.stage-wrap{
    display: flex;
    justify-content: center;
    padding-top: min(200px, 23.2vw);
}
.stage{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: min(40px, 4.6vw);
    margin-inline: auto;
    align-items: center;
}
.side{
    display: flex;
    flex-direction: column;
    gap: min(64px, 7.2vw);
}
#paper_scroll{
    width: min(300px, 50vw);
    transform: rotateY(180deg);
    filter: brightness(75%) contrast(1.1);
}
.side img{
    width: min(120px, 14vw);
    height: min(220px, 25.6vw);
    border-radius: 12px;
    border: 3px solid snow;
}
.scroll{
    position: relative;
}
.scroll_text{
    position: absolute;
    top: 13%;
    left: 23%;
    right: 23%;
    font-size: min(14px, 2.1vw);
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
    opacity: 0.85;
}
#next_page{
    text-decoration: none;
}
#next_page:link{
    color: rgb(10, 10, 10);
}
#next_page:visited{
    color: rgb(10, 10, 10);
}
#next_page:hover{
    color: rgb(30, 30, 30);
}
#next_page:active{
    color: rgb(60, 60, 60);
}



.snow{
    position: fixed;
    z-index: 9999;
}
.snowflake{
    position: absolute;
    width: min(10px, 1.1vw);
    opacity: 0.7;
    top: 0%;
    z-index: 9999;

    animation: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.f1{left: 12%; animation-duration: 6s;}
.f2{left: 27%; animation-duration: 10s;}
.f3{left: 41%; animation-duration: 8s;}
.f4{left: 58%; animation-duration: 14s;}
.f5{left: 63%; animation-duration: 7s;}
.f6{left: 76%; animation-duration: 12s;}
.f7{left: 84%; animation-duration: 5s;}
.f8{left: 91%; animation-duration: 11s;}
.f9{ left: 2%;  animation-duration: 9s; }
.f10{ left: 98%; animation-duration: 13s; }

.snowman{
    width: min(100px, 11.6vw);
    position: fixed;
    right: 16px;
    bottom: 16px;
    height: auto;
    opacity: 0.8;
}



@keyframes fall{
    from{ transform: translateY(0); }
    to{ transform: translateY(99vh); }
}
@media(max-width: 768px){
    body{
        background-image: url("Images/bgimage_mobile.png");
    }
}
