.stage{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;

    gap: min(40px, 4.6vw);
    border: 5px solid;
}
.side{
    display: flex;
    flex-direction: column;

    gap: min(16px, 1.8vw);
    border: 5px solid;
}

#paper_scroll{
    width: min(300px, 35vw);
    transform: rotateY(180deg);
    filter: brightness(75%) contrast(1.1);
}
.side img{
    width: min(120px, 14vw);
    height: min(220px, 25.6vw);
    border-radius: 12px;
}

.scroll{
    position: relative;
    border: 5px solid;
}
.scroll_text{
    position: absolute;
    top: 10%;
    left: 23%;
    right: 23%;
    font-size: min(12px, 1.4vw);
}
